<h3>Update Facture</h3>
<div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="datefacture">Date de facture</label>
        <input type="date" class="form-control" id="datefacture" required [(ngModel)]="facture.datefacture" name="Datefacture">
      </div>
  
      <div class="form-group">
        <label for="modePaiement">Mode de PaiementP</label>
        <input type="text" class="form-control" id="modePaiement" required [(ngModel)]="facture.modePaiement" name="modePaiement">
      </div>
  
      <div class="form-group">
        <label for="commandesfacture">commandesfacture</label>
        <input type="text" class="form-control" id="commandesfacture" required [(ngModel)]="facture.commandesfacture.cmId" name="commandesfacture">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
    

